
html {
    font-size: 100%;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h4, p {
  display: inline;
  margin: 0;
}


.gal1 {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  margin-right: 10px;
  background-color: grey;
  color: #fff;
  display: inline-block;
}

.gal2 {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
  margin-right: 100px;
  background-color: none;
  color: none;
  display: inline-block;
}


.info1 {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
  display: inline-block;
}



body,
input,
textarea,
button,
select,
option {
    font-family: "Oswald", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1rem;

}

#navigationsleiste {
    grid-area: navigationsleisten-bereich;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    line-height: 5rem;
}

#navigationsleiste>a {
    text-decoration: none;
}

#uberschrift {
    font-size: 2rem;
    color: #fff;
    font-family: "K2D";
}



#eingabeformular-container {
    grid-area: eingabeformular-bereich;
    padding: 1rem 1rem;
    background-color: #e9ecef;
    border-radius: 1rem;
}

#eingabeformular-container>.eingabeformular-zeile:last-of-type {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}





.nav-bottom {
  font-family: "K2D";
  background-color: #343a40;
  position: relative;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 1rem;
}

.nav-bottom > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2rem;
  height: 100%;
}

.nav-bottom > ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 0.4rem 0 0.4rem;
}

.nav-bottom > ul > li > a {
  margin-top: 1rem;
  display: inline-block;
  color: white;
}
